{% extends 'base.html' %}
{% block content %}

<!-- Main Section -->
<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Projects</span></h2>
            </div>

            <div class="hero-section__search">
                <form class="form" action="#" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Projects </label>
                        <input class="input input--text" id="formInput#search" type="text" name="text"
                            placeholder="Search by Project Title" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />

                </form>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">

                {% for project in projects %}

                <div class="column">
                    <div class="card project">
                        <a href="{% url 'project' project.id %}" class="project">

                            {% if  project.featured_image %}
                                <img class="project__thumbnail" src="{{ project.featured_image.url }}" alt="project thumbnail" />
                            {% endif %}

                            <div class="card__body">
                                <h3 class="project__title">{{project.title}}</h3>
                                <p><a class="project__author" href="{% url 'profile' project.owner.id %}">by {{project.owner.name}}</a></p>
                                <p class="project--rating">
                                    <span style="font-weight: bold;">{{project.vote_ratio}}</span> Postitive
                                    Feedback ({{project.vote_total}}
                                    {% if project.vote_total <= 1 %} Vote{% else %} Votes{% endif %})
                                </p>
                                <div class="project__tags">
                                    {% for tag in project.tags.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{tag}}</small>
                                    </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock content %}