{% extends 'main.html' %}
<h1>Delete</h1>
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>Are you shure you want to delete "{{object}}"?</p>
    <a href="{% url 'projects' %}">Go back</a>
    <input type="submit" value="Confirm">
</form>
{% endblock content %}