{% extends 'main.html' %}
{% block content %}

<h1>Projects Template</h1>

<table>
    <tr>
        <th>Project</th>
        <th>Votes</th>
        <th>Ratio</th>
        <th>Project created at</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for project in projects %}
    <tr>
        <td><a href="{% url 'project' project.id %}">{{project.title}}</a></td>
        <td>{{project.vote_total}}</td>
        <td>{{project.vote_ratio}}%</td>
        <td>{{project.created_at}}</td>
        <td><a href="{% url 'update_project' project.id %}">Edit</a></td>
        <td><a href="{% url 'delete_project' project.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}