{% extends 'main.html' %}
{% block content %}

<h1>Project Form</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    {% comment %} {% for field in form %}
        {{field.label}}
        {{field}}
    {% endfor %} {% endcomment %}
    <input type="submit" value="submit">
</form>

{% endblock content %}