{% extends 'main.html' %}


{% block content %}

<h1>{{project.title}}</h1>
{% if  project.featured_image %}
<img style="max-width:200px" src="{{ project.featured_image.url }}">
{% endif %}

<p>{{project.description}}</p>

{% for tag in project.tags.all %}
<span style="border: 1px solid grey">{{tag}}</span>
{% endfor %}

{% endblock content %}